@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body {
  position: relative;
  overflow: hidden;
}
.sidebar {
  width: 240px;
  height: 100%;
  position: fixed;
  background-color: rgb(27, 78, 122);
  transition: all 0.4s ease;
  left: 0;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.logo .logo-content {
  color: #fff;
  font-weight: 600;
  font-size: 25px;
}
.logo i {
  font-size: 25px;
  color: #fff;
  margin-right: 10px;
}
.bx-menu{
  color: #fff;
  font-size: 28px;
  background-color: rgb(24, 92, 151);
  border-radius: 50%;
  padding: 5px;
  transform: translateX(220px);
  transition: all 0.4s ease;
}
.nav-items {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  text-align: center;
  width: 100%;
  transition: all 0.4s ease;
}
.nav-items .list-items {
  list-style: none;
  position: relative;
  width: 100%;
}
.nav-items .list-items a:hover{
  background-color: #fff;
  color: rgb(27, 78, 122);
}
nav .nav-items li a {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  height: 100%;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  border-radius: 20px;
}
.nav-items li a i{
  margin:0 20px 0 20px;
}

/* Active Sidebar */

.sidebar.active{
  width: 90px;
}
.sidebar.active .bx-menu{
  transform: translateX(70px);
}
.sidebar.active .logo .logo-content {
  opacity: 0;
}
.sidebar.active .logo i{
  transform: translateX(53px);
  font-size: 30px;
}
.sidebar.active li a span{
  opacity: 0;
}

.sidebar.active ul li{
  display: flex;
  align-items: center;
}
.sidebar.active ul li a i{
  transform: translateX(-6px);
}
/* Main */
main{
  margin-left: 270px;
  transition: all 0.4s ease;
  padding: 30px;
}

.sidebar.active ~ main{
  margin-left: 120px;
}
@media screen and (max-width:500px) {
  .sidebar.active{
    transform: translateX(-90px);
  }
  .sidebar.active .bx-menu{
    transform: translateX(98px) translateY(-60px);
  }
  .sidebar.active ~ main{
    margin-left: 20px;
  }
}
